html{
    margin: 0;
    padding: 0;
    font-family: Montseratt-Light,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    
}
a:hover{
    cursor: pointer;
}
#encabezado{
    float: left;
    clear: both;
    width: 100%;

}
.logo{
    height: 7rem;
    src: local('../images/logos/logo2 (2).png');
    float: left;
    margin-left: 50rem;
}
.textoEmpresa{
    float: left;
    margin-left: 20em;
    font-size: 2em;
    margin-top: 1em;
    font-weight: bolder;
    letter-spacing: 0.5em;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(89, 135, 156);
    color: white;
    text-align: center;
    clear: both;
  }
nav{
    float: left;
    clear: both;
    width: 100%;
    background: #B31F2A;
    color: #dddddd;
    font-weight: bold;
}
nav ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}
nav a{
  transition: 0.5s;
}
nav a:hover{
  transform: scale(1.2);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li{
    display: inline;
    float: left;
}
a {
    padding: 15px;
    background-color: transparent;
    margin: auto;
  }
ul li a:hover{
    background: #2B4046;
    color: #dddddd;
    overflow-y: 10px;
}
.banner{
    background-image: url('../images/recursos/mina2.jpeg');
    /* opacity: .4; */

}
/* .logobanner{
    clear: both;
    font-size: 5rem;
    letter-spacing: 0.1em;

}
.logobanner p{
    color: #FFF !important;

} */
.banner2{
    padding: 5rem;
    padding-left: auto;
    padding-right: auto;
    
}
.banner2 p{
    text-align: center;

    font-size: 2.9rem;
}
.botonDiv a{
    margin-left: 50rem;
    margin-right: 50rem;
    text-align: center;
    margin-top: 10rem;

}
.swiper {
    width: 50em;
    height: 15rem;
    clear: both;float: left;
    margin-bottom: 2em;
    margin-left: 25em;
  }
  .videoBanner{
    position: fixed;
    min-width: 100%;
    width: 100%;
    z-index: 0;
  }
  .contenido{
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 1;
  }
  .contactenos-banner{
    background-color: #B31F2A;
    color: #f1f1f1;
  }
  .banner-redes{
    float: left;
    clear: both;
    width: 100%;
    background: rgb(43,64,70);
    background: linear-gradient(90deg, rgba(43,64,70,1) 0%, rgba(179,31,42,1) 50%, rgba(237,44,65,1) 100%);
    height: 140px;
  }
  .texto-redes p{
    color:#dddddd;
    font-weight: bold; 
    margin-top: 3.5em;
    margin-left:10em;
    float: left;
  }
  .redes{
float: left;
margin-top: 2.8em;
    margin-left:20em;
    height: 3rem;
    transition: 0.5s;
  }
  .redes:hover{
    transform: scale(1.5);
    /* transition: 0.5s; */
  }
  .botonDiv a:hover{
    background: #2B4046;
    color: #dddddd;
    overflow-y: 10px;
    transition: 0.5s;
  }

  .infocontactobanner{
    font-weight: bolder;
      float: left;
      color: #f1f1f1;
      background-color: #2B4046;
      height: auto;
      width: 100%;
      display: flex;
      padding-top: 1rem;
      -ms-flex-align: baseline;
      justify-content: space-around;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: baseline;
      padding-left: 25rem;  }
      

  .infocontactobanner p {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .infocontactobanner img{
    height: 2rem;
    margin-right: 2rem;
    transition: 1s;
  }
  .infocontactobanner img:hover{
    transform: scale(1.5);
  }

  .quienessomosbanner{
    display:flex; 
    flex-direction: row;
    clear: both; 
    width: 100%;
    transition: 2s;

  }
  #logobannerquienessomos{
    width: 50%;
    margin-top: 6rem;
    padding-left: 15rem;
  }
  #quienessomosfotos{
    width: 50%;
    margin-top: 6rem;
  }
  .zonaparrafoquienessomosb{
    padding: 10rem;width: 50%;
  }
  .zonaparrafoquienessomosb img{
    display: flexbox;
  }
  .tituloquienessomos{
    font-size:2rem;text-align: center;color:#B31F2A;font-weight: bold;
  }
  .zonaparrafoquienessomosb p{
    text-align: justify;color: #2B4046; margin-top: 0.5rem;font-size: 18px;
  }
  .bannergerente
  {
    background-color: #B31F2A;
  }
  .imgcircular{
    height: 30rem;border-radius: 300px;
  }
  .Titulovalores{
    float: left;
    clear: both;
    color: #CCA356;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 45%;
    /* margin-right: 50%; */
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3rem;

  }
  .valoresquienessomos{
    width: 50%;
    margin-top: 6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: fit-content;
    transition: 1s;
  }
  .valoresquienessomos:hover{
    transform: scale(1.2);
  }
  .valoresquienessomos img p{
    float: left;
  }
  #bannerContactenos{
    display:flex; 
    flex-direction: row;
    clear: both; 
    width: 100%;
    transition: 2s;
    background: url('/images/recursos/mach.jpg') repeat 0 0 ;
    float: left;
    height: 5rem !important;
  }

  .bannertext h1, .bannertext h3, .bannertext h6 {
    margin: 0;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
  }
  
  .bannertext {
    color: white;
    background: url('/images/recursos/lava2.jpg') top left/cover no-repeat;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
  }
  #formContacto{
    float: left;
    margin-left: 20em;
    margin-right: 15em;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #map { height: 480px; width: 100%;}
/* 
  .boardServ{
    position: relative;
    display: inline-block;
    text-align: center;
  } */

  .Contenedor {

    /* background: url('/images/recursos/instalaciones.png') top left/cover no-repeat; */
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0rem; 
  }
  .center {
    text-align: center;
  }
  .productDescription{
    clear: both;
 
  }
  .contevidrio{
       
      align-items: center;
      /* flex-direction: row; */
      clear: both; 
      width: 100%;
      /* transition: 2s; */
  }
  .producto {
    margin:1rem;
    /* margin-top: rem; */
  }
 

/* .texto-encima{
    color: white;
    position: absolute;
    font-size: 5rem;
    text-align: left;
    top: 150px;
    left: 10px;
} */
.centrado{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text{
  display: flex;
  margin: 2rem;
  color: whitesmoke;
  text-align: center;
}

.campo1servicio{
    display:flex; 
    flex-direction: row;
    clear: both; 
    width: 100%;
    transition: 2s;
 
}
#logosrv{
   width: 50%;
  margin-top: 6rem;
  padding-left: 15rem;
}

.zonatittlesrv{
  /* background: url('/images/recursos/lava2.jpg') top left/cover no-repeat; */
  padding: 10rem;width: 50%;
  height: 301px;
    /* display: flex;
    justify-content: center; */
}
.lineadeservicios{
  color: black;
  position: absolute;
  width: 1000px;
  height: 1000px;
  transform: translate(-50%, -50%);

}
#fundicionmetales{
  background: url('/images/recursos/lava2.jpg');
  margin-left: 1rem;
  width: 100px;
  height: 100px;
}
.srvimg{
  padding: 1rem;width: 50%;
}
.srvtxt{
  font-size:2rem;text-align: center;color:#B31F2A;font-weight: bold;
}

.srvbackground{
  background:#B31F2A;;
  /* background: url('/images/recursos/mina2.jpg') top left/cover no-repeat; */
}
